html, body {
    font-family: calibri;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.navbar{
    background-color: transparent;
}

.btn-bg-white {
    background-color: white;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.dropdown:hover .dropdown-menu {display: block;}

.cadaver {
    height: 100%;
    background-image: url('assets/images/188 OSOR.JPG');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 0px;
}

#centar.container {
    margin: 0px;
    width: 100%;
    padding: 0px;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

#rightbar {
    padding: 0px;
    margin: 0px;
}

.btn-danger {
    background-color: #ffffff !important;
    border-color: #aa0000 !important;
    color: #aa0000 !important;
}

.btn-danger:hover {
    background-color: #aa0000 !important;
    border-color: #aa0000 !important;
    color: #ffffff !important;
}