html, body {
    font-family: calibri;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

footer {
    background-color: #ffffff70;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.navbar{
    background-color: transparent;
}

.btn-bg-white {
    background-color: white;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.dropdown:hover .dropdown-menu {display: block;}

.cadaver {
    height: 100%;
    background-image: url('assets/images/188 OSOR.JPG');
    background-image: url('assets/images/189 VELI VRH.JPG');
    background-image: url('assets/images/191 GOLA PLJESIVICA.JPG');
    background-image: url('assets/images/222 KALNIK.JPG');
    background-image: url('assets/images/226 NEPROBIĆ.JPG');
    background-image: url('assets/images/248 KAPAVAC.JPG');
    background-image: url('assets/images/259 KAMENJAK.JPG');
    background-image: url('assets/images/283 STRAZICA.JPG');
    background-image: url('assets/images/289 KREMEN.JPG');
    background-image: url('assets/images/290 CRNOPAC.JPG');
    background-image: url('assets/images/293 DINARA.JPG');
    background-image: url('assets/images/300 MOSOR.JPG');
    background-image: url('assets/images/301 PRAPATNICA.JPG');
    background-image: url('assets/images/312 SV IVAN.JPG');
    background-image: url('assets/images/384 BRUSNIK.JPG');
    background-image: url('assets/images/391 NOVOSELSKO BRDO.JPG');
    background-image: url('assets/images/403 BREŽIĆ.JPG');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 0px;
    transition: background 2s linear;
}

#centar.container {
    margin: 0px;
    width: 100%;
    padding: 0px;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

#rightbar {
    padding: 0px;
    margin: 0px;
}

.btn-danger {
    background-color: #ffffff !important;
    border-color: #aa0000 !important;
    color: #aa0000 !important;
}

.btn-danger:hover {
    background-color: #aa0000 !important;
    border-color: #aa0000 !important;
    color: #ffffff !important;
}