html {
    position: relative;
    min-height: 100%;
}


.img-footer {
    height: 70px;
}

.navbar-text {
    font-weight: bold;
    color: #086FA1 !important;
}

.navbar-background {
    background-color: #ABCCED;
}

@media (min-width: 576px) { 
    html {
        overflow: hidden;
    }
    body {
        background-image: url('../../assets/images/home_background.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

	.footer {
	    position: absolute !important;
	}
}

@media (min-width: 1200px) {
	.footer>.container {
	    max-width: 1140px;
	}
}

.footer {
    bottom: 0;
    width: 100%;
}

.landing-page-background {
  background-size: cover;
  background-position: center center;
}

.nav-icon {
    display: flex;
    flex-grow: 1;
    white-space: nowrap;
    flex-direction: column;
    align-items: center;
}
