html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 6em;
    margin-bottom: 60px;
    padding-bottom: 60px;
}


.img-footer {
    max-height: 150px;
    height: 150px;
}

@media (min-width: 576px) { 
    body {
        padding-top: 4em;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .img-footer {
        height: 90px;
        max-height: 90px;
    }
}

@media (min-width: 1200px) {
	footer>.container {
	    max-width: 1140px;
	}
}

.landing-page-background {
  background-size: cover;
  background-position: center center;
}

.nav-icon {
    display: flex;
    flex-grow: 1;
    white-space: nowrap;
    flex-direction: column;
    align-items: center;
}
