html, body {
    font-family: calibri;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* change the brand and text color */
.navbar-dark .navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
  border-color: rgb(255,255,255);
} 

address {
  font-size: 15px;
  line-height: 17px;
}

#geodetski-fakultet {
  font-size: 17px;
}

footer {
    background-color: #F1F1F363;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.navbar{
    background-color: transparent;
}

.btn-bg-white {
    background-color: white;
}


.cadaver {
    height: 100%;
    background-image: url('images/188.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #678fd5;
    margin-bottom: 0px;
    transition: background 2s linear;
    -webkit-transition: background 2s linear;
    -moz-transition: background 2s linear;
    -o-transition: background 2s linear;
}

#centar.container {
    margin: 0px;
    width: 100%;
    padding: 0px;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

#rightbar {
    padding: 0px;
    margin: 0px;
}

.btn-danger {
    background-color: #ffffff !important;
    border-color: #aa0000 !important;
    color: #aa0000 !important;
}

.btn-danger:hover {
    background-color: #aa0000 !important;
    border-color: #aa0000 !important;
    color: #ffffff !important;
}
